<div class="modal-header">
    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o"></i>
    </button>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form name="dogbreed_form" class="form-horizontal" role="form" novalidate>

        <form-element label="label" mod="dogbreed">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right">LABEL</label>
                <div class="col-sm-7">
                    <input class="form-control" name="label" placeholder="label" ng-model="dogbreed.label" ng-required="true"/>
                </div>
            </div>
        </form-element>
        <form-element label="PRICE" mod="dogbreed">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right">VALUE</label>
                <div class="col-sm-7">
                    <input type="text" name="value" class="form-control" placeholder="price" ng-model="dogbreed.value"  ng-required="true"/>
                    <small class="errorMessage" ng-show="dogbreed_form.price.$dirty && dogbreed_form.value.$invalid"> Enter Breed</small>
                </div>
            </div>
        </form-element>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="savedogbreed(dogbreed);"
                            ng-disabled="dogbreed_form.$invalid || enableUpdate"
                            class="btn btn-sm btn-primary"
                            type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>

