<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                 </span>
                </div>
            </li>
            <li>
                <a class="active" href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#customer-management" class="collapsed" aria-expanded="false"><i class="fa fa-bar-chart-o fa-fw"></i> Manage Customers<span class="fa arrow"></span></a>
                <ul id="customer-management" class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="#/customers">customers</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#settings" class="collapsed" aria-expanded="false"><i class="fa fa-bar-chart-o fa-fw"></i> Settings<span class="fa arrow"></span></a>
                <ul id="settings" class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="#/dog-price-factor">Dog Price Factor</a>
                    </li>
                    <li>
                        <a href="#/cat-price-factor">Cat Price Factor</a>
                    </li>
                    <li>
                        <a href="#/dog-breeds">Dog Breeds</a>
                    </li>
                    <li>
                        <a href="#/cat-breeds">Cat Breeds</a>
                    </li>
                    <li>
                        <a href="#/health-questions">Health Questions</a>
                    </li>
                    <li>
                        <a href="#/cat-questions">Cat Questions</a>
                    </li>
                    <li>
                        <a href="#/illness-questions">Illness Questions</a>
                    </li>
                    <li>
                        <a href="#/general-questions">General Questions</a>
                    </li>
                    <li>
                        <a href="#/messages">Messages</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
</div>